<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.min.js"></script>

</head>
<body>
<div ng-controller="CalculatorController">
  <input ng-model="x" type="number">
  <input ng-model="y" type="number">
  <strong>Answer: {{z}}</strong>
  <!-- the value for ngClick maps to the sum function within the controller body -->
  <input type="button" ng-click="sum()" value="+">
</div>
<script src="app/app.js"></script>
<script src="app/CalculatorController.js"></script>

</body>
</html>
